@model ResumeProject.Models.Experience

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Experience</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organization)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentlyStillWorking)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrentlyStillWorking)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YearsService)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YearsService)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExperienceTypeID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExperienceTypeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persons.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
