@model IEnumerable<ResumeProject.Models.Person>

@{
    ViewData["Title"] = "Index";
}

@*<div class="jumbotron">
    <h1>Danielle Isles Martin</h1>
</div>*@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Full Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.FullName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
